NODE_ENV=development
PORT=3001
WEB_ORIGIN=http://localhost:3000
DATABASE_URL=
DIRECT_URL=
MELI_CLIENT_ID=
MELI_CLIENT_SECRET=
MELI_ACCESS_TOKEN=
MELI_REFRESH_TOKEN=
MELI_SELLER_ID=
OAUTH_TOKEN_ENCRYPTION_KEY=